/* global style */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.map-container {
  height: 100vh;
}
body{
  min-height: 100vh;
}
.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
.fix-button-slick{
  .slick-next {
    right: 0;
    z-index: 9999;
    background: red;
  }
  .slick-prev {
    left: 0;
    z-index: 9999;
    background: red;
  }
}
.home-silder{
  height: 600px;

}
.with-arrow{
  &:after{
    padding: .21428571rem;
    display: inline-block;
    content: "";
    border: solid #000;
    border-width: 0 2px 2px 0;
    margin-left: 6px;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
.heading-line{
  &:before{
    font-size: 28px;
    position: absolute;
    content: "";
    background: rgba(0, 0, 0, .1);
    height: 2px;
    width: 100%;
    top: calc(50% - 2px);
  }
  span{
    background: #fff;
    display: inline-block;
    position: relative;
    padding-right: 1.07142857rem;
  }
}
.navigation{
  .active{
    color: red !important;
  }
}
.navigation-thuc-don{
  position: sticky;
  position: -webkit-sticky;
  overflow: hidden;
  z-index: 3;
  background: #fff;
  margin-bottom: 1.42857143rem;
  top: 102px;
  margin-bottom: 2.14285714rem;
  padding-top: .57142857rem;
}
.boxNarrowMenu{
  a{
    position: relative;
    &.active{
      &:after{
        color: #000;
        bottom: 0;
        content: "";
        height: 5px;
        position: absolute;
        background: #e4002b;
        transition: width .3s ease 0s, left .3s ease 0s;
        width: 100%;
        left: 0;
      }
    }
  }
}
.sidebar-with-arrow{
  &:after{
    display: inline-block;
    content: "";
    border: solid #000;
    margin-left: .42857143rem;
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border-width: 0 1px 1px 0;
    padding: .14285714rem;
    margin-bottom: .14285714rem;

  }
}
body.overflow-hidden{
  overflow: hidden;
}
[class^=icon-] {
  background: url(https://static.kfcvietnam.com.vn/images/web/sprite.png?v=5.0) no-repeat;
  width: 25px;
  display: inline-block;
  height: 25px;
  vertical-align: middle;
}
.icon-login{
  background-position: -10px -60px;
  width: 30px;
  height: 30px;
}
.basket{
  width: 30px;
  height: 43px;
  background: url(https://static.kfcvietnam.com.vn/images/web/cart.png?v=5.0) no-repeat -53px 1px;
  background-size: 350%;
  text-align: center;
  line-height: 50px;
  font-family: Roboto, sans-serif;
  display: block;
  letter-spacing: -1px;
}